@{
    ViewData["Title"] = "Home Page";
}

<div class="sheetSlider sh--default">
    <input id="s1" type="radio" name="slide1" checked />
    <input id="s2" type="radio" name="slide1" />
    <input id="s3" type="radio" name="slide1" />
    <input id="s4" type="radio" name="slide1" />
    <input id="s5" type="radio" name="slide1" />
    <div class="sh__content">

        <div class="sh__item">
            <img src="~/Images/bitcoins-and-u-s-dollar-bills-730547.jpg" alt="imgText" class="imgSlider" />
            <!-- Item Info -->
            <div class="sh__meta">
                <h4>Finanza</h4>
                <span>
                    Curso de app para la plataforma universal de Windows UWP C#
                    <a href="#urlPage">with link</a>
                </span>
            </div>
        </div>
        <div class="sh__item">
            <img src="~/Images/bank-blur-business-buy-259200.jpg" alt="imgText" class="imgSlider" />
            <!-- Item Info -->
            <div class="sh__meta">
                <h3>UWP</h3>
                <span>
                    Curso de app para la plataforma universal de Windows UWP C#
                </span>
            </div>
        </div>
        <div class="sh__item">
            <img src="~/Images/black-and-white-board-boardroom-business-260689.jpg" alt="imgText" class="imgSlider" />
            <!-- Item Info -->
            <div class="sh__meta">
                <h4>UWP</h4>
                <span>
                    Curso de app para la plataforma universal de Windows UWP C#
                    <a href="#urlPage">with link</a>
                </span>
            </div>
        </div>
        <div class="sh__item">
            <img src="~/Images/black-samsung-tablet-computer-106344.jpg" alt="imgText" class="imgSlider" />
            <!-- Item Info -->
            <div class="sh__meta">
                <h4>UWP</h4>
                <span>
                    Curso de app para la plataforma universal de Windows UWP C#
                    <a href="#urlPage">with link</a>
                </span>
            </div>
        </div>
        <div class="sh__item">
            <img src="~/Images/MC_RCM_0050_21-1024x682.jpg" alt="imgText" class="imgSlider" />
            <!-- Item Info -->
            <div class="sh__meta">
                <h4>UWP</h4>
                <span>
                    Curso de app para la plataforma universal de Windows UWP C#
                    <a href="#urlPage">with link</a>
                </span>
            </div>
        </div>
    </div>

    <!-- botones -->
    <div class="sh__btns">
        <label for="s1"></label>
        <label for="s2"></label>
        <label for="s3"></label>
        <label for="s4"></label>
        <label for="s5"></label>
    </div>

    <!-- flechas -->
    <div class="sh__arrows">
        <label for="s1"></label>
        <label for="s2"></label>
        <label for="s3"></label>
        <label for="s4"></label>
        <label for="s5"></label>
    </div>
</div>

<br />
<hr class="featurette-divider">
<br />

<div class="card-deck">
    <div class="card">
        <img class="card-img-top" src="~/Images/woman-standing-on-the-center-table-with-four-people-on-the-1367271.jpg" alt="Card image cap">
        <div class="card-body">
            <h5 class="card-title">Card title</h5>
            <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
        </div>
        <div class="card-footer">
            <small class="text-muted"></small>
        </div>
    </div>
    <div class="card">
        <img class="card-img-top" src="~/Images/shopping-business-money-pay-50987.jpg" alt="Card image cap">
        <div class="card-body">
            <h5 class="card-title">Card title</h5>
            <p class="card-text">This card has supporting text below as a natural lead-in to additional content.</p>
        </div>
        <div class="card-footer">
            <small class="text-muted"></small>
        </div>
    </div>
    <div class="card">
        <img class="card-img-top" src="~/Images/plastic-piggy-bank-3833052.jpg" alt="Card image cap">
        <div class="card-body">
            <h5 class="card-title">Card title</h5>
            <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This card has even longer content than the first to show that equal height action.</p>
        </div>
        <div class="card-footer">
            <small class="text-muted"></small>
        </div>
    </div>
</div>

<br />

<hr class="featurette-divider">

<br />

<div class="row featurette">
    <div class="col-md-7">
        <h2 class="featurette-heading">First featurette heading. <span class="text-muted">It'll blow your mind.</span></h2>
        <p class="lead">Donec ullamcorper nulla non metus auctor fringilla. Vestibulum id ligula porta felis euismod semper. Praesent commodo cursus magna, vel scelerisque nisl consectetur. Fusce dapibus, tellus ac cursus commodo.</p>
    </div>
    <div class="col-md-5">
        <img class="featurette-image img-fluid mx-auto" data-src="holder.js/500x500/auto" alt="500x500" style="width: 500px; height: 500px;" src="~/Images/person-writing-on-notebook-669615.jpg" data-holder-rendered="true">
    </div>
</div>

<br />
<hr class="featurette-divider">
<br />


<div class="row featurette">
    <div class="col-md-7 order-md-2">
        <h2 class="featurette-heading">Oh yeah, it's that good. <span class="text-muted">See for yourself.</span></h2>
        <p class="lead">Donec ullamcorper nulla non metus auctor fringilla. Vestibulum id ligula porta felis euismod semper. Praesent commodo cursus magna, vel scelerisque nisl consectetur. Fusce dapibus, tellus ac cursus commodo.</p>
    </div>
    <div class="col-md-5 order-md-1">
        <img class="featurette-image img-fluid mx-auto" data-src="holder.js/500x500/auto" alt="500x500" src="~/Images/photo-of-person-handing-card-2988232.jpg" data-holder-rendered="true" style="width: 500px; height: 500px;">
    </div>
</div>


<br />
<hr class="featurette-divider">
<br />

<div class="container">
    <div class="row mb-5">
        <div class="col-12 text-center aos-init aos-animate" data-aos="fade">
            <h2 class="section-title mb-3">Nuestros servicios</h2>
        </div>
    </div>
    <div class="row align-items-stretch">
        <div class="col-md-6 col-lg-4 mb-4 mb-lg-4 aos-init aos-animate" data-aos="fade-up">
            <div class="unit-4">
                <div class="unit-4-icon">
                    <img src="https://colorlib.com/preview/theme/banker/images/flaticon-svg/svg/001-wallet.svg" alt="Free Website Template by Free-Template.co" class="img-fluid w-25 mb-4">
                </div>
                <div>
                    <h3>
                        Consulta de trabajo
                    </h3>
                    <p>Es un servicio de respuesta a consultas sobre temas laborales recibidas en el sistema de consulta laboral en línea, de patronos, trabajadores, organizaciones, estudiantes y particulares en general, e incluso a instituciones públicas, cuando la competencia conferida por la Ley Orgánica así se lo permite.</p>
                    
                </div>
            </div>
        </div>
        <div class="col-md-6 col-lg-4 mb-4 mb-lg-4 aos-init aos-animate" data-aos="fade-up" data-aos-delay="100">
            <div class="unit-4">
                <div class="unit-4-icon">
                    <img src="https://colorlib.com/preview/theme/banker/images/flaticon-svg/svg/006-credit-card.svg" alt="Free Website Template by Free-Template.co" class="img-fluid w-25 mb-4">
                </div>
                <div>
                    <h3>Tarjeta de crédito</h3>
                    <p>Permite realizar compras y cancelar dicho valor posteriormente. Se denomina “de crédito” porque el monto que utilizas al realizar la compra, corresponde a un préstamo que te otorga la entidad financiera.</p>
                    
                </div>
            </div>
        </div>
        <div class="col-md-6 col-lg-4 mb-4 mb-lg-4 aos-init aos-animate" data-aos="fade-up" data-aos-delay="200">
            <div class="unit-4">
                <div class="unit-4-icon">
                    <img src="https://colorlib.com/preview/theme/banker/images/flaticon-svg/svg/002-rich.svg" alt="Free Website Template by Free-Template.co" class="img-fluid w-25 mb-4">
                </div>
                <div>
                    <h3>
                        Monitoreo de ingresos
                    </h3>
                    <p>Es una serie de proyecciones de ingresos y gastos a los que debes darles seguimiento periódico para hacer comparativos con las entradas y desembolsos reales.</p>
                    
                </div>
            </div>
        </div>
        <div class="col-md-6 col-lg-4 mb-4 mb-lg-4 aos-init aos-animate" data-aos="fade-up" data-aos-delay="">
            <div class="unit-4">
                <div class="unit-4-icon">
                    <img src="https://colorlib.com/preview/theme/banker/images/flaticon-svg/svg/003-notes.svg" alt="Free Website Template by Free-Template.co" class="img-fluid w-25 mb-4">
                </div>
                <div>
                    <h3>Consultoría de seguros</h3>
                    <p>A small river named Duden flows by their place and supplies it with the necessary regelialia.</p>
                    
                </div>
            </div>
        </div>
        <div class="col-md-6 col-lg-4 mb-4 mb-lg-4 aos-init aos-animate" data-aos="fade-up" data-aos-delay="100">
            <div class="unit-4">
                <div class="unit-4-icon">
                    <img src="https://colorlib.com/preview/theme/banker/images/flaticon-svg/svg/004-cart.svg" alt="Free Website Template by Free-Template.co" class="img-fluid w-25 mb-4">
                </div>
                <div>
                    <h3>Inversión financiera</h3>
                    <p>A small river named Duden flows by their place and supplies it with the necessary regelialia.</p>
                    
                </div>
            </div>
        </div>
        <div class="col-md-6 col-lg-4 mb-4 mb-lg-4 aos-init aos-animate" data-aos="fade-up" data-aos-delay="200">
            <div class="unit-4">
                <div class="unit-4-icon">
                    <img src="https://colorlib.com/preview/theme/banker/images/flaticon-svg/svg/005-megaphone.svg" alt="Free Website Template by Free-Template.co" class="img-fluid w-25 mb-4">
                </div>
                <div>
                    <h3>Gestión financiera</h3>
                    <p>A small river named Duden flows by their place and supplies it with the necessary regelialia.</p>
                    
                </div>
            </div>
        </div>
    </div>
</div>

<br />
<hr class="featurette-divider">
<br />


<!-- Footer -->
<footer class="page-footer font-small cyan darken-3 ">

    <!-- Footer Links -->
    <div class="container text-center text-md-left">

        <!-- Grid row -->
        <div class="row">

            <!-- Grid column -->
            <div class="col-md-4 mx-auto">

                <!-- Content -->
                <h5 class="font-weight-bold text-uppercase mt-3 mb-4">Footer Content</h5>
                <p>
                    Here you can use rows and columns to organize your footer content. Lorem ipsum dolor sit amet,
                    consectetur
                    adipisicing elit.
                </p>

            </div>
            <!-- Grid column -->



            <hr class="clearfix w-100 d-md-none">





            <!-- Grid column -->
            <div class="col-md-2 mx-auto">

                <!-- Links -->
                <h5 class="font-weight-bold text-uppercase mt-3 mb-4">Links</h5>

                <ul class="list-unstyled">
                    <li>
                        <a href="#!">Link 1</a>
                    </li>
                    <li>
                        <a href="#!">Link 2</a>
                    </li>
                    <li>
                        <a href="#!">Link 3</a>
                    </li>
                    <li>
                        <a href="#!">Link 4</a>
                    </li>
                </ul>

            </div>
            <!-- Grid column -->



            <hr class="clearfix w-100 d-md-none">



            <!-- Grid column -->
            <div class="col-md-2 mx-auto">

                <!-- Links -->
                <h5 class="font-weight-bold text-uppercase mt-3 mb-4">Links</h5>

                <ul class="list-unstyled">
                    <li>
                        <a href="#!">Link 1</a>
                    </li>
                    <li>
                        <a href="#!">Link 2</a>
                    </li>
                    <li>
                        <a href="#!">Link 3</a>
                    </li>
                    <li>
                        <a href="#!">Link 4</a>
                    </li>
                </ul>

            </div>
            <!-- Grid column -->



            <hr class="clearfix w-100 d-md-none">


            <!-- Grid column -->
            <div class="col-md-2 mx-auto">

                <!-- Link

                <ul class="list-unstyled">
                    <!-- Links -->
                <h5 class="font-weight-bold text-uppercase mt-3 mb-4">Links</h5>

                <ul class="list-unstyled">
                    <li>
                        <a href="#!">Link 1</a>
                    </li>
                    <li>
                        <a href="#!">Link 2</a>
                    </li>
                    <li>
                        <a href="#!">Link 3</a>
                    </li>
                    <li>
                        <a href="#!">Link 4</a>
                    </li>
                </ul>

            </div>
            <!-- Grid column -->

        </div>
        <!-- Grid row -->

    </div>
    <!-- Footer Links -->



    <hr>

    <!-- Call to action -->
    <p class="float-right"><a href="#"  class="btn btn-outline-dark btn-rounded" >Back to top</a></p>
    <ul class="list-unstyled list-inline text-center py-2">
        <li class="list-inline-item">
            <h5 class="mb-1">Register for free</h5>
        </li>
        <li class="list-inline-item">
            <a href="https://localhost:44331/Identity/Account/Register" class="btn btn-outline-dark btn-rounded">Sign up!</a>
        </li>
    </ul>
</footer>
<!-- Footer -->
