@{
    ViewData["Title"] = "Home Page";
}

    <div class="sheetSlider sh--default">
        <input id="s1" type="radio" name="slide1" checked />
        <input id="s2" type="radio" name="slide1" />
        <input id="s3" type="radio" name="slide1" />
        <input id="s4" type="radio" name="slide1" />
        <input id="s5" type="radio" name="slide1" />
        <input id="s6" type="radio" name="slide1" />
        <input id="s7" type="radio" name="slide1" />
        <input id="s8" type="radio" name="slide1" />
        <input id="s9" type="radio" name="slide1" />
        <input id="s10" type="radio" name="slide1" />
        <div class="sh__content">
            <!-- Slider Item -->
            <div class="sh__item">
                <img src="~/Images/bitcoins-and-u-s-dollar-bills-730547.jpg" alt="imgText" class="imgSlider" />
                <!-- Item Info -->
                <div class="sh__meta">
                    <h4>UWP</h4>
                    <span>
                        Curso de app para la plataforma universal de Windows UWP C#
                        <a href="#urlPage">with link</a>
                    </span>
                </div>
            </div>
            <div class="sh__item">
                <img src="~/Images/bank-blur-business-buy-259200.jpg" alt="imgText" class="imgSlider" />
                <!-- Item Info -->
                <div class="sh__meta">
                    <h3>UWP</h3>
                    <span>
                        Curso de app para la plataforma universal de Windows UWP C#
                    </span>
                </div>
            </div>
            <div class="sh__item">
                <img src="~/Images/black-and-white-board-boardroom-business-260689.jpg" alt="imgText" class="imgSlider" />
                <!-- Item Info -->
                <div class="sh__meta">
                    <h4>UWP</h4>
                    <span>
                        Curso de app para la plataforma universal de Windows UWP C#
                        <a href="#urlPage">with link</a>
                    </span>
                </div>
            </div>
            <div class="sh__item">
                <img src="~/Images/black-samsung-tablet-computer-106344.jpg" alt="imgText" class="imgSlider" />
                <!-- Item Info -->
                <div class="sh__meta">
                    <h4>UWP</h4>
                    <span>
                        Curso de app para la plataforma universal de Windows UWP C#
                        <a href="#urlPage">with link</a>
                    </span>
                </div>
            </div>
            <div class="sh__item">
                <img src="~/Images/MC_RCM_0050_21-1024x682.jpg" alt="imgText" class="imgSlider" />
                <!-- Item Info -->
                <div class="sh__meta">
                    <h4>UWP</h4>
                    <span>
                        Curso de app para la plataforma universal de Windows UWP C#
                        <a href="#urlPage">with link</a>
                    </span>
                </div>
            </div>
            <div class="sh__item">
                <img src="~/Images/person-writing-on-notebook-669615.jpg" alt="imgText" class="imgSlider" />
                <!-- Item Info -->
                <div class="sh__meta">
                    <h4>UWP</h4>
                    <span>
                        Curso de app para la plataforma universal de Windows UWP C#
                        <a href="#urlPage">with link</a>
                    </span>
                </div>
            </div>
            <div class="sh__item">
                <img src="~/Images/photo-of-person-handing-card-2988232.jpg" alt="imgText" class="imgSlider" />
                <!-- Item Info -->
                <div class="sh__meta">
                    <h4>UWP</h4>
                    <span>
                        Curso de app para la plataforma universal de Windows UWP C#
                        <a href="#urlPage">with link</a>
                    </span>
                </div>
            </div>
            <div class="sh__item">
                <img src="~/Images/plastic-piggy-bank-3833052.jpg" alt="imgText" class="imgSlider" />
                <!-- Item Info -->
                <div class="sh__meta">
                    <h4>UWP</h4>
                    <span>
                        Curso de app para la plataforma universal de Windows UWP C#
                        <a href="#urlPage">with link</a>
                    </span>
                </div>
            </div>
            <div class="sh__item">
                <img src="~/Images/shopping-business-money-pay-50987.jpg" alt="imgText" class="imgSlider" />
                <!-- Item Info -->
                <div class="sh__meta">
                    <h4>UWP</h4>
                    <span>
                        Curso de app para la plataforma universal de Windows UWP C#
                        <a href="#urlPage">with link</a>
                    </span>
                </div>
            </div>
            <div class="sh__item">
                <img src="~/Images/woman-standing-on-the-center-table-with-four-people-on-the-1367271.jpg" alt="imgText" class="imgSlider" />
                <!-- Item Info -->
                <div class="sh__meta">
                    <h4>UWP</h4>
                    <span>
                        Curso de app para la plataforma universal de Windows UWP C#
                        <a href="#urlPage">with link</a>
                    </span>
                </div>
            </div>
        </div>
        <!-- botones -->
        <div class="sh__btns">
            <label for="s1"></label>
            <label for="s2"></label>
            <label for="s3"></label>
            <label for="s4"></label>
            <label for="s5"></label>
            <label for="s6"></label>
            <label for="s7"></label>
            <label for="s8"></label>
            <label for="s9"></label>
            <label for="s10"></label>
        </div>
        <!-- flechas -->
        <div class="sh__arrows">
            <label for="s1"></label>
            <label for="s2"></label>
            <label for="s3"></label>
            <label for="s4"></label>
            <label for="s5"></label>
            <label for="s6"></label>
            <label for="s7"></label>
            <label for="s8"></label>
            <label for="s9"></label>
            <label for="s10"></label>
        </div>
    </div>