@{
    ViewData["Title"] = "Privacy Policy";
}
<h1>@ViewData["Title"]</h1>

<<div id="carouselExampleSlidesOnly" class="carousel slide" data-ride="carousel">
    <div class="carousel-inner">
        <div class="carousel-item active">
            <img class="d-block w-100" src="~/Images/black-and-white-board-boardroom-business-260689.jpg" alt="First slide" style="width: 1000px; height: 500px;">
        </div>
    </div><div class="carousel-caption d-none d-md-block">
        <big><h1><span style="color:#00aef0">Visión, Misión y Valores</span></h1></big>

    </div>
</div>

<br />
<hr class="featurette-divider">
<br />

<div class="content-right">
    <div class="panel-pane pane-node-content">




        <div id="node-756" class="node node-page node-full clearfix" about="/vision-mision-y-valores" typeof="foaf:Document">

            <span property="dc:title" content="" class="rdf-meta element-hidden"></span>

            <div class="cms-content">
                <p>Tenemos una responsabilidad con nuestros clientes y con nosotros mismos, pues somos los representantes directos de la marca Tech-Ovni, y lo reflejamos con nuestras actitudes y comportamiento para vivir la marca a plenitud.</p>
                <br />
                <p><big><span style="color:#00aef0"><strong>Visión</strong></span></big><br>Ser el referente bancario, reconocidos por nuestra excelencia y calidad humana, comprometidos con el bienestar social y económico del país.</p>
                <br />
                <p><big><span style="color:#00aef0"><strong>Misión</strong></span></big><br>Impulsar la prosperidad y el bienestar de todos los dominicanos.</p>
                <br />
                <p><big><span style="color:#00aef0"><strong>Valores</strong></span></big><br>• Compromiso<br>• Liderazgo<br>• Excelencia<br>• Integridad<br>• Innovación</p>
            </div>



        </div>



    </div>

</div>


<br />
<hr class="featurette-divider">
<br />

<!-- Footer -->
<footer class="p-3 mb-2 bg-white text-dark">

    <!-- Footer Links -->
    <div class="container text-center text-md-left">

        <!-- Grid row -->
        <div class="row">




            <hr class="clearfix w-100 d-md-none">


            <div class="col-md-4 mx-auto">

                <!-- Content -->
                <h5 class="font-weight-bold text-uppercase mt-3 mb-4"></h5>

                <img src="~/Images/LogoSample_ByTailorBrands (2).jpg" style="width: 175px; height: 100px;" />
            </div>






            <hr class="clearfix w-100 d-md-none">


            <!-- Grid column -->
            <div class="col-md-2 mx-auto">




                <!-- Link

                <ul class="list-unstyled">
                    <!-- Links -->
                <h5 class="font-weight-bold text-uppercase mt-3 mb-4">CONTACTOS</h5>

                <ul class="list-unstyled">
                    <li>

                        <p>8292787718</p>
                    </li>
                    <li>

                        <p>8296048943</p>
                    </li>
                    <li>
                        <i class="fas fa-envelope">
                        </i>
                        <p>20175435@itla.edu.do</p>
                    </li>
                    <li>
                        <i class="fas fa-envelope">
                        </i>
                        <p>20175369@itla.edu.do</p>
                    </li>

                </ul>

            </div>
            <!-- Grid column -->

        </div>
        <!-- Grid row -->

    </div>
    <!-- Footer Links -->



    <hr>

    <!-- Call to action -->
    <p class="float-right"><a href="#" class="btn btn-outline-dark">Subir</a></p>
    <ul class="list-unstyled list-inline text-center py-2">
        <li class="list-inline-item">
            <h5 class="mb-1">Registro Gratis</h5>
        </li>
        <li class="list-inline-item">
            <a href="https://localhost:44331/Identity/Account/Register" class="btn btn-outline-light">Registrate</a>
        </li>
    </ul>
</footer>

<!-- Footer -->


<div class="social">
    <ul>
        <li><a href="http://www.facebook.com" target="_blank" class="icon-facebook"></a></li>
        <li><a href="http://www.twitter.com" target="_blank" class="icon-twitter"></a></li>
        <li><a href="http://www.googleplus.com" target="_blank" class="icon-googleplus"></a></li>
        <li><a href="http://www.pinterest.com" target="_blank" class="icon-pinterest"></a></li>

    </ul>
</div>
