@{
    ViewData["Title"] = "Home Page";
}

    <div class="container">
        <div class="row mb-5">
            <div class="col-12 text-center aos-init aos-animate" data-aos="fade">
                <h2 class="section-title mb-3">Servicio Al Cliente</h2>
            </div>
        </div>
        <div class="row align-items-stretch">
            <div class="col-md-6 col-lg-4 mb-4 mb-lg-4 aos-init aos-animate" data-aos="fade-up">
                <div class="unit-4">
                    <div class="unit-4-icon">
                        <img src="https://colorlib.com/preview/theme/banker/images/flaticon-svg/svg/001-wallet.svg" alt="Free Website Template by Free-Template.co" class="img-fluid w-25 mb-4">
                    </div>
                    <div>
                        <h3>
                            Consulta de trabajo
                        </h3>
                        <a href="https://soyroiver.files.wordpress.com/2013/02/solicitud_de_empleo.pdf" class="btn btn-outline-dark">Solicitud</a>
                        <a href="https://localhost:44353/Cliente/Create" class="btn btn-outline-dark">Agregar</a>

                    </div>
                </div>
            </div>
            <div class="col-md-6 col-lg-4 mb-4 mb-lg-4 aos-init aos-animate" data-aos="fade-up" data-aos-delay="100">
                <div class="unit-4">
                    <div class="unit-4-icon">
                        <img src="https://colorlib.com/preview/theme/banker/images/flaticon-svg/svg/006-credit-card.svg" alt="Free Website Template by Free-Template.co" class="img-fluid w-25 mb-4">
                    </div>
                    <div>
                        <h3>Tarjeta de crédito</h3>
                        <a href="https://www.aa.com.do/content/images/travelInformation/ES_AAMailInAppInternet.pdf" class="btn btn-outline-dark">Solicitud</a>
                        <a href="https://localhost:44353/Cliente/Create" class="btn btn-outline-dark">Agregar</a>

                    </div>
                </div>
            </div>
            <div class="col-md-6 col-lg-4 mb-4 mb-lg-4 aos-init aos-animate" data-aos="fade-up" data-aos-delay="200">
                <div class="unit-4">
                    <div class="unit-4-icon">
                        <img src="https://colorlib.com/preview/theme/banker/images/flaticon-svg/svg/002-rich.svg" alt="Free Website Template by Free-Template.co" class="img-fluid w-25 mb-4">
                    </div>
                    <div>
                        <h3>
                            Monitoreo de ingresos
                        </h3>
                        <a href="https://www.minsalud.gov.co/Documentos%20y%20Publicaciones/DOCUMENTO%20T%C3%89CNICO%20INICIATIVA%20DE%20FORMACI%C3%93N%20EN%20GERENCIA%20SOCIAL.pdf" class="btn btn-outline-dark">Solicitud</a>
                        <a href="https://localhost:44353/Cliente/Create" class="btn btn-outline-dark">Agregar</a>

                    </div>
                </div>
            </div>
            <div class="col-md-6 col-lg-4 mb-4 mb-lg-4 aos-init aos-animate" data-aos="fade-up" data-aos-delay="">
                <div class="unit-4">
                    <div class="unit-4-icon">
                        <img src="https://colorlib.com/preview/theme/banker/images/flaticon-svg/svg/003-notes.svg" alt="Free Website Template by Free-Template.co" class="img-fluid w-25 mb-4">
                    </div>
                    <div>
                        <h3>Consultoría de seguros</h3>
                        <a href="http://www.ros.com.do/wp-content/uploads/2013/10/formulario-banreservas-a-color1.pdf" class="btn btn-outline-dark">Solicitud</a>
                        <a href="https://localhost:44353/Cliente/Create" class="btn btn-outline-dark">Agregar</a>

                    </div>
                </div>
            </div>
            <div class="col-md-6 col-lg-4 mb-4 mb-lg-4 aos-init aos-animate" data-aos="fade-up" data-aos-delay="100">
                <div class="unit-4">
                    <div class="unit-4-icon">
                        <img src="https://colorlib.com/preview/theme/banker/images/flaticon-svg/svg/004-cart.svg" alt="Free Website Template by Free-Template.co" class="img-fluid w-25 mb-4">
                    </div>
                    <div>
                        <h3>Inversión financiera</h3>
                        <a href="https://www.imf.org/external/spanish/np/sta/cdis/2009/120109f5s.pdf" class="btn btn-outline-dark">Solicitud</a>
                        <a href="https://localhost:44353/Cliente/Create" class="btn btn-outline-dark">Agregar</a>

                    </div>
                </div>
            </div>
            <div class="col-md-6 col-lg-4 mb-4 mb-lg-4 aos-init aos-animate" data-aos="fade-up" data-aos-delay="200">
                <div class="unit-4">
                    <div class="unit-4-icon">
                        <img src="https://colorlib.com/preview/theme/banker/images/flaticon-svg/svg/005-megaphone.svg" alt="Free Website Template by Free-Template.co" class="img-fluid w-25 mb-4">
                    </div>
                    <div>
                        <h3>Gestión financiera</h3>
                        <a href="https://www.imf.org/external/pubs/ft/fandd/spa/app-sp.pdf" class="btn btn-outline-dark">Solicitud</a>
                        <a href="https://localhost:44353/Cliente/Create" class="btn btn-outline-dark">Agregar</a>

                    </div>
                </div>
            </div>
        </div>
    </div>
